.container {
    border: 0.15em solid var(--darkGrey);
    justify-content: flex-start;
    gap: 1em;

}

.containerLg {
    border: 0.5em solid var(--berry);
    justify-content: space-evenly;

}

.container,
.containerLg {
    width: 100%;
    transition-duration: 0.5s;
    border-radius: 2em;
    padding: 2em 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover,
.containerLg:hover {
    box-shadow: 0 0 2em 0.5em var(--berry);
}

.heading {
    text-align: center;
}

.list>ul {
    list-style: disc;
}

.price {
    text-align: center;
    line-height: 2em;
}

@media only screen and (min-width: 850px) {

.container{
min-height: 75vh;
}

.containerLg{
    min-height: 85vh;
}
      }