.featuresContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.featuresContainer h3 {
    flex: 1;
}

.featuresContainer p {
    flex: 3;
}

@media only screen and (min-width: 450px) {

    .featuresContainer {
align-items: flex-start;
    }

}

/* @media only screen and (min-width: 850px) {

    .featuresContainer {
        flex-direction: row;
        gap: 1em;
    }

} */