.bodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.textSubContainer {
    display: flex;
    flex-direction: column;
    gap: 4em;
    justify-content: center;
}

.heroImage {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.heroImage > div:first-of-type{
    min-height: 33vh;
}



@media only screen and (min-width: 450px) {

    .bodyContainer {
        flex-direction: row;
    }

    .textSubContainer{
        justify-content: flex-start;
        width: 50%;
    }

    .heroImage{
        width: 50%;
    }



}