@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pagePadding: 0 10%;
  --componentPadding: 3em 0;
  --berry: #990f4b;
  --black: #1C1C1C;
  --white: #F5F5F5;
  --darkGrey: #66635F;
  --grey: #878684;
}


body {
background-color: var(--white);
}

h1{
font-size: 2.5em;
}

h2{
font-size: 2em;
}

h3{
font-size: 1.5em;
}

h4{
font-size: 1.15em;
font-weight: 600;
}

p{
  font-size: 1em;
}
