.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.imageContainer{
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 450px) {
.container{
    min-height: 25vh;
    justify-content: space-between;

}

.container > *{
    flex: 50%;
}

.bodyContainer{
    align-items: flex-start;
}

.container > *{
    flex: 50%;
}

          }
