.heroContainer {
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.heroImage {
    display: flex;
    justify-content: center;
    flex: 1;
}

.heroText {
    font-weight: 700;
    font-size: 3em;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
}

.textSubContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


@media only screen and (min-width: 450px) {

    .heroContainer {
        flex-direction: row;
        align-items: center;
        height: 50vh;
    }

    .heroContainer>* {
        flex: 50%;
    }

    .textContainer {
        padding-left: 15%;
    }
    .heroImage{
        height: 100%;
    }
}

@media only screen and (min-width: 850px) {
.heroContainer{
    padding: 0 10%;
}

}